<?xml version="1.0" ?>

<robot name="robot_gp7_d5600" xmlns:xacro="http://ros.org/wiki/xacro">

    <!-- Robot -->
    <xacro:include filename="$(find motoman_gp7_support)/urdf/gp7_macro.xacro" />


    <!-- End Effector -->
    <xacro:include filename="$(find nikon_d5600_support)/urdf/d5600_macro.xacro" />
    

    <!-- Build Kinematic Chain using imported components -->
    <xacro:motoman_gp7 prefix=""/>
    <xacro:nikon_d5600 prefix=""/>

    <joint name="tool0-camera_link" type="fixed">
        <origin xyz="0 0 0" rpy="0 0 3.1415"/>
        <parent link="tool0"/>
        <child link="camera_link"/>
    </joint>

</robot>