<?xml version="1.0" ?>

<robot name="robot_gp7_cart" xmlns:xacro="http://ros.org/wiki/xacro">
<xacro:macro name="robot_gp7_cart" params="prefix">

    <!-- Robot -->
    <xacro:include filename="$(find motoman_gp7_support)/urdf/gp7_macro.xacro" />


    <!-- End Effector -->
    <xacro:include filename="$(find robot_cart)/urdf/cart_macro.xacro" />
    

    <!-- Build Kinematic Chain using imported components -->
    <xacro:motoman_gp7 prefix=""/>
    <xacro:gp7_cart prefix=""/>

    <joint name="base_link-robot_cart" type="fixed">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <parent link="base_link"/>
        <child link="cart_link"/>
    </joint>
</xacro:macro>
</robot>